<launch>
  <param command="$(find xacro)/xacro $(find jj_robot_description)/urdf/jj_robot.xacro" name="robot_description"/>
  <node args="-param robot_description -urdf -model jj_robot" name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"/>
  
  <include file="$(find jj_robot_description)/launch/display.launch" />
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
    <arg name="world_name" value="$(find robot_2_description)/worlds/main_house.world"/>
  </include>
</launch>
